@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
  }
}

